<div id='container'>

  <div ng-controller="ShortenController">

    <form name="shortenLinkForm" ng-submit='addLink()'>
      <!-- <input type='text' ng-model='link.url'> -->
      <input type="url" name="input" ng-model="link.url" required>
      <!-- <input type="text" name="input" ng-model="link.url" ng-pattern="{{ pattern }}" required ngRequired> -->
      <button>shorten</button>
      <br/>
      <tt>text = {{text}}</tt><br/>
  <tt>shortenLinkForm.input.$pattern = {{shortenLinkForm.$error.pattern}}</tt><br/>
  <tt>shortenLinkForm.input.$valid = {{shortenLinkForm.input.$error.pattern}}</tt><br/>
  <tt>shortenLinkForm.input.$error = {{shortenLinkForm.input.$error}}</tt><br/>
  <tt>shortenLinkForm.$valid = {{shortenLinkForm.$valid}}</tt><br/>
  <tt>shortenLinkForm.$error.required = {{!!shortenLinkForm.$error.required}}</tt><br/>
  <tt>shortenLinkForm.$error.url = {{!!shortenLinkForm.$error.url}}</tt><br/>

    </form>
<!-- "/^(?!mailto:)(?:(?:https?|ftp):\/\/)?(?:\S+(?::\S*)?@)?(?:(?:(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[0-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]+-?)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]+-?)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))|localhost)(?::\d{2,5})?(?:\/[^\s]*)?$/i" -->
  </div>


</div>

