<div id='container'>

  <div ng-controller="ShortenController">

    <form name="shortenLinkForm" ng-submit='addLink()'>
      <input type="url" name="input" ng-model="link.url" novalidate required>

      <button ng-disabled="!shortenLinkForm.$valid">shorten</button>
      <div ng-if="shortenLinkForm.input.$error.required && shortenLinkForm.$dirty">Please enter something!</div>

      <div ng-if="shortenLinkForm.$invalid && shortenLinkForm.$dirty && !shortenLinkForm.input.$error.required">Invalid URL! WTF mates?</div>
    </form>
  </div>
  <a href="#/links"> Check yo links hurr >> </a>

</div>

