

<div id='container'>
  <h1>Links</h1>
  <div ng-controller="LinksController">
      <input type="text" name="input" ng-model="key">
    <div ng-repeat="link in data.links | filter:key | orderBy: '+visits'">
    <ul>
      <div>
      <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
      <div>
        <a href="{{ link.base_url + '/' + link.code }}" target="_blank">{{ link.base_url + '/' + link.code }}</a>
      </div>
      <div>
        {{ link.visits }}
      </div>
      </div>
    </ul>
    </div>

  </div>


</div>
